<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zencat Studios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css">
    <script src="main.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="brand navbar-left">
            <h1>
                <a href="/">Zencat</a>
            </h1>
        </div>
        <div class="nav-items-container">
            <ul class="nav-items">
                <li>
                    <a class="active" href="/">About</a>
                </li>
                <li>
                    <a href="/work">Work</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <a href="/contact" class="btn btn-primary">Lets Chat</a>
        </div>
    </nav>
    {{ content }}